/* small screen laptops*/
@media only screen and (min-width: 1023px) and (max-width: 1300px) {

.section1{
  width: 100%;
  height: 100%;
}
.parallax {
  background-image: url('contact-bg.jpg');
  height: 600px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section1-header{
  position: absolute;
    margin-top: 320px;
    margin-left: 50%;
    text-align: center;
  font-size: 8.4vw;
  font-family: serif;
    background: #8C86FA;
  background: linear-gradient(to bottom right, #8C86FA 0%, #8700e7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section2{
  width: 100%;
  height: 1150px;

}

#section2-head{
  color: #333333;
  font-size: 50px;
  position: absolute;
  margin-top: -6%;
  margin-left: 5%;
}

.section2-box-cont{
  margin-top: 15%;
  margin-left: 2%;
}
.section2-box1{
  width: 390px;
  height: 210px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0px 20px rgb(0 0 0 / 0.2);
  border-bottom: 17px solid #4d168d;
}
.section2-box2{
  width: 390px;
  height: 210px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0px 20px rgb(0 0 0 / 0.2);
  border-bottom: 17px solid #ff2c9c;
  margin-top: 5%;
}
.contactform{
  width: 400px;
  height: 500px;
  position: absolute;
  margin-top: -46%;
  margin-left: 37%;
  box-sizing: border-box;

}

.footer{
  width: 100%;
  height: 500px;
  background-color: #f4f4f4;
  margin-top: -10%;
}


.footer-cont{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap:0px;
  margin-top: 5%;
  margin-left: 0%;
}
.footer-sec{
  width: 250px;
  height: 400px;
}
#footer-social a{
  position: relative;
  list-style: none;
  margin:0 13px;
  cursor: pointer;
}
#footer-social a   .fa-brands{
  font-size: 1.6em;
  color: #434242;
}
#footer-social a::before{
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.6em;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;

}
}