.section1{
	width: 100%;
	height: 100%;
}
.parallax {
  background-image: url('contact-bg.jpg');
  height: 600px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section1-header{
	position: absolute;
    margin-top: 22.5%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
	font-size: 130px;
	font-family: serif;
    background: #8C86FA;
	background: linear-gradient(to bottom right, #8C86FA 0%, #8700e7 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
