@media only screen and (min-width: 1023px) and (max-width: 1300px) {
.footer{margin-top: 5%;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
}


.footer-cont{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap:10px;
  width: 100%;
  margin-top: 0%;
  margin-left: 0%;
}

.footer-sec{
  width: 100%;
  height: 100%;
}
}