.serBanner img{
	width: 100%;
	height: 450px;

}

.serBanner h2{
	position: absolute;
	top: 33%;
	left: 26.5%;
	font-size: 100px;
  -webkit-text-fill-color: transparent; 
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: white;
}



.our-service-top{
	width: 100%;
	height: 1550px;
	background-color: #f9f9f9;
}

.our-service-top h2{
	position: absolute;
	top: 88%;
	left: 34%;
	font-size: 31px;
}

.our-service-top h3{
	position: absolute;
	top: 96%;
	left: 39%;
	font-size: 18px;
	font-family: sans-serif;
	color: #3170ab;
}

.SRtop-line1{
	border: 2.2px solid #1e3d5a;
    width: 55px;
    position: absolute;
    top: 101%;
    left: 46.5%;
}

.SRtop-line2{
	border: 2.2px dashed #1e3d5a;
    width: 25px;
    position: absolute;
    top: 101%;
    left: 50.5%;
}

.our-service-top p{
	position: absolute;
	top: 105%;
	left: 14%;
	font-size: 22px;
	
	color: black;
	text-align: center;
	line-height: 45px;
	font-weight: 500;
}






.serBig-cont1{
	position: absolute;
	top: 145%;
	left: 11.5%;
	width: 360px;
	height: 320px;
	background-color: white;
	align-items: center;
	border: 1px solid #efeded;
	box-shadow: 0 -5px 5px -5px #efeded;
    
}
.top-part1{
	width: 300px;
	height:76.5px;
	background-color:#f9f9f9;
	position: absolute;
	top: 140%;
	left: 13.5%; 
	box-shadow: 5px -10px 15px #f2f3f4;
}



.color-section{
	width: 69px;
	height: 100%;
	background-color:#1e3d5a ;
	align-items: center;
}

.color-section img{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 20%;
	left: 3.5%;
}



.top-part1 h2{
	color:black ;
	font-size: 22px;
	position: absolute;
	top:36%;
	left: 40%;
	font-family: sans-serif;
}





.container1 {
    position: relative;
    width: 340px;
    height: 300px;
    display: inline-block;
    top: 3%;
    left: 3%;


    
}

.image {
    display: block;
    width: 340px;
    height: 300px;
    right: 0%;
}


.text p{
    color: white;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    text-align: center;
    line-height: 30px;
    width: 90%;
    opacity: 1;
}

.text a {
	text-decoration: underline;
	color: #fddb00;
	position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    font-size: 17px;
    font-weight: 600;
    font-family: sans-serif;
}

.text a:hover{
 color:white;
 text-decoration: none;
 font-size: 15px;
}

.overlayFade{
    height: 100%;
    width:100%;
    top:0;
    left:0;
    background-color: black;
}
.overlay {
    position: absolute;
    opacity: 0;
    transition:all .6s ease;
    background-color: black;
}
.container1:hover .overlay,.container1:hover .overlayFade {
    opacity: 0.8;
}






.container1:hover ,.text p{
	opacity: 1;
}


.overlayTop{
    width: 100%;
    height: 0;
    top:0;
    left:0;
    background-color: black;

}
.overlayBottom{
    width: 100%;
    height: 0;
    bottom:0;
    left:0;
    background-color: #036dd0;
}
.container1:hover .overlayTop ,.container1:hover .overlayBottom {
    height: 100%;
}




.serBig-cont2{

	position: absolute;
	top: 145%;
	left: 38%;
	width: 360px;
	height: 320px;
	background-color: white;
	align-items: center;
	border: 1px solid #efeded;
	box-shadow: 0 -5px 5px -5px #efeded;
}

.top-part2{
    width: 300px;
	height:76.5px;
	background-color:#f9f9f9;
	position: absolute;
	top: 140%;
	left:  40%; 
	box-shadow: 5px -10px 15px #f2f3f4;	
}

.top-part2 h2{
	color:black ;
	font-size: 22px;
	position: absolute;
	top:36%;
	left: 26%;
	font-family: sans-serif;
}




.serBig-cont3{

	position: absolute;
	top: 145%;
	right: 11.5%;
	width: 360px;
	height: 320px;
	background-color: white;
	align-items: center;
	border: 1px solid #efeded;
	box-shadow: 0 -5px 5px -5px #efeded;
}

.top-part3{
    width: 300px;
	height:76.5px;
	background-color:#f9f9f9;
	position: absolute;
	top: 140%;
	right: 13.5%; 
	box-shadow: 5px -10px 15px #f2f3f4;	
}

.top-part3 h2{
	color:black ;
	font-size: 22px;
	position: absolute;
	top:36%;
	left: 29%;
	font-family: sans-serif;
}



.serBig-cont4{

	position: absolute;
	top: 210%;
	left: 11.5%;
	width: 360px;
	height: 320px;
	background-color: white;
	align-items: center;
	border: 1px solid #efeded;
	box-shadow: 0 -5px 5px -5px #efeded;
}

.top-part4{
    width: 300px;
	height:76.5px;
	background-color:#f9f9f9;
	position: absolute;
	top: 205%;
	left:13.5%; 
	box-shadow: 5px -10px 15px #f2f3f4;	
}

.top-part4 h2{
	color:black ;
	font-size: 22px;
	position: absolute;
	top:20%;
	left: 30%;
	font-family: sans-serif;
}



.serBig-cont5{

	position: absolute;
	top: 210%;
	left: 38%;
	width: 360px;
	height: 320px;
	background-color: white;
	align-items: center;
	border: 1px solid #efeded;
	box-shadow: 0 -5px 5px -5px #efeded;
}

.top-part5{
    width: 300px;
	height:76.5px;
	background-color:#f9f9f9;
	position: absolute;
	top: 205%;
	left:40%; 
	box-shadow: 5px -10px 15px #f2f3f4;	
}

.top-part5 h2{
	color:black ;
	font-size: 22px;
	position: absolute;
	top:36%;
	left: 34%;
	font-family: sans-serif;
}




.serBig-cont6{

	position: absolute;
	top: 210%;
	right: 11.5%;
	width: 360px;
	height: 320px;
	background-color: white;
	align-items: center;
	border: 1px solid #efeded;
	box-shadow: 0 -5px 5px -5px #efeded;
}

.top-part6{
    width: 300px;
	height:76.5px;
	background-color:#f9f9f9;
	position: absolute;
	top: 205%;
	right: 13.5%; 
	box-shadow: 5px -10px 15px #f2f3f4;	
}

.top-part6 h2{
	color:black ;
	font-size: 20px;
	position: absolute;
	top:36%;
	left: 27%;
	font-family: sans-serif;
}


.bottom-text h2{
	position: absolute;
	top: 268%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 22px;
	font-weight: 400;
	color:#1e3d5a;
	text-align: center;

}

.bottom-text h2 a{
	color:#3170ab ;
	text-decoration: none;

}

.bottom-text h2 a:hover{
	color: #fddb00;
	text-decoration: underline;
}




.our-service-mid{
	max-width: 100%;
	height: 2800px;
	background-color: white;
}


.our-service-mid img{
	position: absolute;
	top: 295%;
	left: 11.5%;
	width: 850px;
	height: 500px;

}

#service-behind{
	position: absolute;
	top: 375%;
	left:11.5%;
	color: #1e3d5a;
	font-size: 40px;
}

.SRmid-line1{
	border: 2.4px solid #fddb00;
    width: 140px;
    position: absolute;
    top: 384.5%;
    left: 11.5%;
}

#service-behind-desc{
	width: 845px;
	position: absolute;
	top: 390%;
	left: 11.5%;
	font-size: 18px;
	line-height: 30px;
}

.service-mid-icons{
	width: 880px;
	height: 400px;
	position: absolute;
	top: 425%; 
	left: 11.5%;
}

#Qproducts{
   width: 175px;
   height: 165px;
   top: 0%;
   left: 0%;
}

.service-mid-icons h1{
	position: absolute;
	top: 36%;
	left: 2%;
	font-size: 20px;
	font-weight: 600;
	font-family: sans-serif;
	color: #1e3d5a;
}

#QproductsP{
	position: absolute;
	top: 44.5%;
	left: 2.1%;
	color: grey;
	
}


#certifiedIcon{
   width: 120px;
   height: 110px;
   top: 6%;
   left: 38.5%;
}

.service-mid-icons h2{
	position: absolute;
	top: 36%;
	left: 36%;
	font-size: 20px;
	font-weight: 600;
	font-family: sans-serif;
	color: #1e3d5a;
}

#certifiedP{
	position: absolute;
	top: 44.5%;
	left: 36%;
	color: grey;	
}



#proTools{
   width: 110px;
   height: 100px;
   top: 9%;
   left: 77%;
}


.service-mid-icons h3{
	position: absolute;
	top: 36%;
	left: 72%;
	font-size: 20px;
	font-weight: 600;
	font-family: sans-serif;
	color: #1e3d5a;
}

#proToolsP{
	position: absolute;
	top: 44.5%;
	left: 72%;
	color: grey;
}


#midWhy-utes{
	position: absolute;
	top: 475%;
	left:11.5%;
	color: #1e3d5a;
	font-size: 40px;
}

#midWhy-utesP{
	width: 845px;
	position: absolute;
	top: 490%;
	left: 11.5%;
	font-size: 18px;
	line-height: 30px;
}

.SRmid-line2{
	border: 2.4px solid #fddb00;
    width: 140px;
    position: absolute;
    top: 484.5%;
    left: 11.5%;
    }


.service-mid-img{
	top: 530%;
	left: 11.5%;
	

}

#ser-Midimg1{
	width: 400px;
	height: 300px;
	position:absolute;
    top: 525.5%;
    left: 11.5%;
}
#ser-Midimg2{
	width: 400px;
	height: 300px;
	position:absolute;
    top: 525.5%;
    left: 40%;

}
#ser-Midimg3{
	width: 400px;
	height: 300px;
	position:absolute;
    top: 570.5%;
    left: 11.5%;
}
#ser-Midimg4{
	width: 400px;
	height: 300px;
	position:absolute;
	top: 570.5%;
	left: 40%;
}






.FAQ-CONT{
	width: 100%;
	height: 500px;
	background-color: white;
}


.faq-BIgcont{
	position: absolute;
	top: 625%;
	left: 10%;
}

.title{
    font-size: 50px;
    text-align: left;
    margin-top: 80px;
    margin-bottom: 40px;
    color: #1e3d5a;
    
}
.SRmid-line3{
	border: 2.4px solid #fddb00;
    width: 140px;
    position: absolute;
    top: 645.2%;
    left: 10%;
    }


.questions-container{
    max-width: 800px;
    margin: 0 auto;
}

.question{
    border-bottom: 1px solid #fff;
}
.question button{
    width: 100%;
    background-color: #eef3f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border:none;
    outline: none;
    font-size: 22px;
    color: #1e3d5a;
    font-weight: 700;
    cursor: pointer;
}
.question p{
    font-size: 22px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
}
.d-arrow{
    transition: transform 0.5s ease-in ;
    color: #fff;
}

/*add this class when click*/
.question p.show{
    max-height: 200px; 
    opacity: 1;
    padding:0px 15px 30px 15px;
}
.question button .d-arrow.rotate{
    transform: rotate(180deg);
}