.bTestBanner{
	max-width: 100%;
}

.bTestBanner img{
	width: 100%;
	height: 450px;

}

.bTestBanner h2{
	position: absolute;
	top: 31%;
	left: 16%;
	font-size: 100px;
  -webkit-text-fill-color: transparent; 
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: white;
}

.bTestBanner h5{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 16px;
	color: white;
  font-weight: 400;
}

.bTestBanner h5{
	position: absolute;
	top: 58%;
	left: 37.5%;
	font-size: 17px;
	color: white;
}

.bTestBanner h5 a{
	color: white;
	text-decoration: none;
}

.bTestBanner h5 a:hover{
	text-decoration: underline;
}


.Btest-top{
	max-width: 100%;
	height: 2400px;
	background-color: white;
}

#Btest-top-img{
	width: 730px;
	height: 440px;
	position: absolute;
	top: 88.5%;
	left: 13.3%;
}

.ser-cont1{
  position: absolute;
  top: 113.5%;
  left: 63.5%;
	width: 362px;
	height: 80px;
	background-color: #444444;
	
}

.Current-cont h2{
	width: 100%;
    color: white;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    top: 35%;
    left: 5%;
}

#Current-icon{
	width: 60px;
	height: 55px;
	position: absolute;
	top: 20%;
	left: 80%;
	
}

.ser-cont2{
	position: absolute;
	top: 101%;
	left: 63%;	
	
}
.ser-line2{
	border: 0.5px solid #1e3d5a;
    width: 362px;
    position: absolute;
    top: 98%;
    left: 0%;
    opacity: 0.3;
    }

.ser-vl2{
  border-left: 6px solid #3170ab;
  height: 100%;
  position: absolute;
  top: 0%;
  left: -1.6%;
  opacity: 0.8;
}


.container {
    position: relative;
    width: 362px;
    height: 80px;
    display: inline-block;
    background-color: white;
    border-left: 3px black;

}

.image {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.1;

}


.text {
	width: 100%;
    color: white;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    top: 35%;
    left: 5%;
      
}


.text2 {
	width: 100%;
    color: white;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    top: 30%;
    left: 5%;  
}

.text2  a{
  
  text-decoration: none;
  color: white;
}

#icon-before2{
	width: 60px;
	height: 55px;
	position: absolute;
	top: -40%;
	left: 77%;
	opacity: 0.6;
}

#icon-after2{
	width: 60px;
	height: 55px;
	position: absolute;
	top:-40%;
	left: 75%;
}


.overlayFade{
    height: 100%;
    width:100%;
    top:0;
    left:0;
    background-color: #444444;

}
.overlay {
    position: absolute;
    opacity: 0;
    transition:all .5s ease;
    background-color: #444444;
}
.container:hover .overlay,.container:hover .overlayFade {
    opacity: 1;
}

.overlayLeft{
    height: 100%;
    width:0;
    top:0;
    left:0;
    background-color: #444444;
}
.overlayRight{
    height: 100%;
    width: 0;
    top:0;
    right:0;
    background-color: #12888e;
}
.container:hover .overlayLeft ,.container:hover .overlayRight {
    width: 100%;
}



.ser-cont3{
  position: absolute;
  top: 88.5%;
  left: 63%;
}
.ser-line3{
	border: 0.5px solid #1e3d5a;
    width: 362px;
    position: absolute;
    top: 98%;
    left: 0%;
    opacity: 0.3;
    }

.ser-vl3{
  border-left: 6px solid #3170ab;
  height: 100%;
  position: absolute;
  top: 0%;
  left: -1.6%;
  opacity: 0.8;
}

#icon-before3{
  width: 60px;
  height: 55px;
  position: absolute;
  top: -40%;
  left: 77%;
  opacity: 0.6;
}

#icon-after3{
  width: 60px;
  height: 55px;
  position: absolute;
  top:-40%;
  left: 75%;
}


.ser-cont4{
  position: absolute;
  top: 126%;
  left: 63%;  
  
}
.ser-line4{
  border: 0.5px solid #1e3d5a;
    width: 362px;
    position: absolute;
    top: 98%;
    left: 0%;
    opacity: 0.3;
    }

.ser-vl4{
  border-left: 6px solid #3170ab;
  height: 100%;
  position: absolute;
  top: 0%;
  left: -1.6%;
  opacity: 0.8;
}

#icon-before4{
  width: 60px;
  height: 55px;
  position: absolute;
  top: -40%;
  left: 77%;
  opacity: 0.6;
}

#icon-after4{
  width: 60px;
  height: 55px;
  position: absolute;
  top:-40%;
  left: 75%;
}

.ser-cont5{
  position: absolute;
  top: 138.5%;
  left: 63%;  
  
}
.ser-line5{
  border: 0.5px solid #1e3d5a;
    width: 362px;
    position: absolute;
    top: 98%;
    left: 0%;
    opacity: 0.3;
    }

.ser-vl5{
  border-left: 6px solid #3170ab;
  height: 100%;
  position: absolute;
  top: 0%;
  left: -1.6%;
  opacity: 0.8;
}

#icon-before5{
  width: 60px;
  height: 55px;
  position: absolute;
  top: -40%;
  left: 77%;
  opacity: 0.6;
}

#icon-after5{
  width: 60px;
  height: 55px;
  position: absolute;
  top:-40%;
  left: 75%;
}


.ser-cont6{
  position: absolute;
  top: 151%;
  left: 63%;  
  
}
.ser-line6{
  border: 0.5px solid #1e3d5a;
    width: 362px;
    position: absolute;
    top: 98%;
    left: 0%;
    opacity: 0.3;
    }

.ser-vl6{
  border-left: 6px solid #3170ab;
  height: 100%;
  position: absolute;
  top: 0%;
  left: -1.6%;
  opacity: 0.8;
}

#icon-before6{
  width: 60px;
  height: 55px;
  position: absolute;
  top: -40%;
  left: 77%;
  opacity: 0.6;
}

#icon-after6{
  width: 60px;
  height: 55px;
  position: absolute;
  top:-40%;
  left: 75%;
}


.BT-header{
  position: absolute;
  top: 160%;
  left: 13.3%;
  width: 730px;
}

.BT-header h1{
  font-size: 35px;
  color: #1e3d5a;
}

.BT-header h2{
  font-size: 17px;
  font-weight: normal;
  color: #fddb00;
  position: absolute;
  top: 95%;
  font-family: sans-serif;
}

.BT-header-line1{
    border: 1.5px solid #3170ab;
    width: 70px;
    position: absolute;
    top: 160%;   
}

.BT-header-line2{
    border: 1.5px dashed #3170ab;
    width: 18px;
    position: absolute;
    top: 160%; 
    left: 10%;  
}

.BT-header p{
  width: 95%;
  position: absolute;
  top: 200%;
  font-size:17px;
  line-height: 28px;
}


.mid-icons-imgs{
  position: absolute;
  top: 850%;
  width: 100%;

}
#save-energy{
  width: 90px;
  height:90px;
  position: absolute;
  left: 4%;
}

#quality{
  width: 90px;
  height:90px;
  position: absolute;
  left: 34%;
}

#wherever{
  width: 90px;
  height:90px;
  position: absolute;
  right: 18.5%;
}





.mid-icons-desc h1{
  font-size: 14px;
  font-weight: normal;
  font-family: sans-serif;
  position: absolute;
  top: 234.5%;
  left: 14%;
  text-align: center;
  line-height: 22px;
}

.mid-icons-desc h2{
  font-size: 14px;
  font-weight: normal;
  font-family: sans-serif;
  position: absolute;
  top: 234.5%;
  left: 26.5%;
  text-align: center;
  line-height: 22px;
}
.mid-icons-desc h3{
  font-size: 14px;
  font-weight: normal;
  font-family: sans-serif;
  position: absolute;
  top: 234.5%;
  left: 43%;
  text-align: center;
  line-height: 22px;
}

.mid-icons-line1{
  border-left: 1px dashed grey;
  height: 133px;
  position: absolute;
  top: 222%;
  left: 24%;
  opacity: 0.99;
}

.mid-icons-line2{
  border-left: 1px dashed grey;
  height: 133px;
  position: absolute;
  top: 222%;
  left: 41%;
  opacity: 0.99;
}


.mid-smImgs #better{
  width: 350px;
  height: 300px;
  position: absolute;
  top: 250%;
  left: 13.3%;
}

.mid-smImgs #talk{
  width: 350px;
  height: 300px;
  position: absolute;
  top: 250%;
  left: 38.3%;
}

.better-H{
  width: 300px;
  height: 70px;
  background-color: white;
  position: absolute;
  top: 285.5%;
  left: 15%;
  border: 0px solid;
  box-shadow: 0px 5px 12px #bcbcbb;
}

.better-H h1{

  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 27%;
  left: 12.5%;
}

.better-H h1:hover{
  color: #2164a2;
}

.better-line{
  border-left: 6px solid #3170ab;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity:1;
}


.talk-H{
  width: 300px;
  height: 70px;
  background-color: white;
  position: absolute;
  top: 285.5%;
  left: 40%;
  border: 0px solid;
  box-shadow: 0px 5px 12px #bcbcbb;
}

.talk-H h1{

  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 27%;
  left: 12.5%;
}

.talk-H h1:hover{
  color: #2164a2;
}

.talk-line{
  border-left: 6px solid #3170ab;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity:1;
}

.BT-why{
  width: 730px;
}
.BT-why h1{
  font-size: 30px;
  color: #1e3d5a;
  position: absolute;
  top: 310%;
  left: 13.5%;
}

.BT-why p{
  position: absolute;
  top: 318%;
  left: 13.6%;
  width: 730px;
  font-size:17px;
  line-height: 28px;
}

.BT-why-point1{
  width: 655px;
  height: 70px;
  background-color: white;
  border: 1px solid #e3e4e4;
  position: absolute;
  top: 335%;
  left: 13.6%;
}

.BT-why-point1 h1{
  font-size: 18px;
  font-weight: 500;
  color: black;
  position: absolute;
  top: 27%;
  left: 12%;
}


.BT-why-point1 img{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 18%;
  left: 2%;
}


.BT-why-point2{
  width: 655px;
  height: 70px;
  background-color: white;
  border: 1px solid #e3e4e4;
  position: absolute;
  top: 347%;
  left: 13.6%;
}

.BT-why-point2 h1{
  font-size: 18px;
  font-weight: 500;
  color: black;
  position: absolute;
  top: 27%;
  left: 12%;
}


.BT-why-point2 img{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 18%;
  left: 2%;
}

.BT-why-point3{
  width: 655px;
  height: 70px;
  background-color: white;
  border: 1px solid #e3e4e4;
  position: absolute;
  top: 359%;
  left: 13.6%;
}

.BT-why-point3 h1{
  font-size: 18px;
  font-weight: 500;
  color: black;
  position: absolute;
  top: 27%;
  left: 12%;
}


.BT-why-point3 img{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 18%;
  left: 2%;
}


.BT-why-point4{
  width: 655px;
  height: 70px;
  background-color: white;
  border: 1px solid #e3e4e4;
  position: absolute;
  top: 371%;
  left: 13.6%;
}

.BT-why-point4 h1{
  font-size: 18px;
  font-weight: 500;
  color: black;
  position: absolute;
  top: 27%;
  left: 12%;
}


.BT-why-point4 img{
  width: 55px;
  height: 60px;
  position: absolute;
  top: 2%;
  left: 2%;
}



.right-section{
  width: 368.5px;
  height: 800px;
  background-color: #fddb00;
  position: absolute;
  top: 170%;
  left: 62.6%;
}

.right-section img{
  width: 100%;
  height: 350px;
}

.right-section h1{
  position:absolute;
  top: 50%;
  left: 15%;
  text-align: center;
  font-size: 25px;
  font-weight: normal; 
  color: white; 
}

.right-section h2{
  position:absolute;
  top: 62%;
  left: 40%;
  font-size: 70px;
  color: white; 
  -ms-transform: rotate(-80deg); 
  transform: rotate(1deg);
}

.right-section h3 a{
  position:absolute;
  top: 77%;
  left: 14%;
  font-size: 30px;
  font-weight: normal; 
  color: white; 
  text-decoration: none;
}

.right-sec-line{
    border: 0.5px solid white;
    width: 66%;
    position: absolute;
    top:83%;
    left: 16%;
    opacity: 0.8;
}

.right-section h4 a{
  position:absolute;
  top: 84%;
  left: 21%;
  font-size: 16px;
  font-weight: 500; 
  color: white; 
  text-decoration: none;
}
