.ABbanner img{
	width: 100%;
	height: 450px;

}

.ABbanner h2{
	position: absolute;
	top: 33%;
	left: 29%;
	font-size: 100px;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: white;
}


.UTESwho{
	width: 100%;
	height: 1050px;
	background-color: white;
}

.UTESwho h1{
	position: absolute;
	top: 88%;
	left: 5%;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: grey;
}

.abficon img{
	position: absolute;
	top: 88.5%;
	left: 11%;
	width: 10px;
	height: 17px;
}

.UTESwho h2{
	position: absolute;
	top: 93.5%;
	left: 5%;
	color: black;
	font-size: 25px;
	line-height: 40px;
	font-weight: 500;
}

.UTESwho h3{
	position: absolute;
	top: 118%;
	left: 5%;
	color: #77c3ec;
	font-size: 20px;
	font-weight: 300;
	font-family: sans-serif;
}


.UTESwho p {
	position: absolute;
	top: 87%;
	left: 50%;
	line-height: 30px;
	font-size: 16.5px;
	color: black;
	font-weight: 400;

}

.topline1{
	background-color: #1e3d5a;
	width: 80px;
	height: 2.5px;
	position: absolute;
	top: 123.7%;
	left: 5%;
	border: none;
}

.topline2{
	border: 2px dashed #1e3d5a;
	width: 15px;
	position: absolute;
	top: 123.6%;
	left: 10.51%;
}

.UTESwho-smimg1 img{
	position: absolute;
	top: 147.5%;
	left: 5%;
}


.UTESwho-smimg2 img{
   	position: absolute;
	top: 147.5%;
	left: 38.5%;
}


.UTESwho-smimg3 img{
   	position: absolute;
	top: 147.5%;
	right: 5%;
}


.UTESwho-smimg1-desc h1{
	position: absolute;
	top: 182%;
	left: 20.6%;
	font-size: 130px;
	color: #6193c2;
	font-weight: bolder;
	opacity: 0.1;
}

.UTESwho-smimg1-desc h2{
	position: absolute;
	top: 186%;
	left: 5.5%;
	font-size: 22px;
	font-weight: bold;
	color: black;
	text-align: center;
}



.UTESwho-smimg2-desc h1{
	position: absolute;
	top: 182%;
	left: 53.1%;
	font-size: 130px;
	color: #6193c2;
	font-weight: bolder;
	opacity: 0.1
}

.UTESwho-smimg2-desc h2{
	position: absolute;
	top: 186%;
	left: 38%;
	font-size: 22px;
	font-weight: bold;
	color: black;
	text-align: center;
}

.UTESwho-smimg3-desc h1{
	position: absolute;
	top: 182%;
	left:86.1%;
	font-size: 130px;
	color: #6193c2;
	font-weight: bolder;
	opacity: 0.1
}

.UTESwho-smimg3-desc h2{
	position: absolute;
	top: 186.5%;
	left: 75%;
	font-size: 22px;
	font-weight: bold;
	color: black;
	text-align: center;
}

.VissionMission{
 width: 100%;
 height: 620px;
 background-color: #1e3d5a;
}

.big-container1{
	position: absolute;
	left: 73.65%;
}

.container1 {
    position: relative;
    width: 400px;
    height: 620px;
    display: inline-block;
    right: 0%;
}

.image {
    display: block;
    width: 400px;
    height: 620px;
    right: 0%;
}


.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
}
.overlayFade{
    height: 100%;
    width:100%;
    top:0;
    left:0;
    background-color: #036dd0;
}
.overlay {
    position: absolute;
    opacity: 0;
    transition:all .6s ease;
    background-color: #036dd0;
}
.container1:hover .overlay,.container1:hover .overlayFade {
    opacity: 1;
}


.overlayTop{
    width: 100%;
    height: 0;
    top:0;
    left:0;
    background-color: #036dd0;

}
.overlayBottom{
    width: 100%;
    height: 0;
    bottom:0;
    left:0;
    background-color: #036dd0;
}
.container1:hover .overlayTop ,.container1:hover .overlayBottom {
    height: 100%;
}


#mission{
	position: absolute;
	top: 88%;
	left: 45%;
	color: white;
	font-family: sans-serif;
	font-weight: 600;
	opacity: 1;
}

.container1:hover #mission{
	display: none;
}

.container1:hover #mission-icon{
	display: none;
}

.overlay h2{
	opacity: 1;
    color: white;
    font-size: 30px;
    font-weight: 500;
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    top: 16.5%;
    left: 20%;

}


.overlay p{
	color: white;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	position: absolute;
    top: 34%;
    left: 1%;
    line-height: 35px;
}

.overlay img{
	width: 45px;
	height: 45px;
	position: absolute;
	top: 25%;
	left: 44%;
}



.big-container2{
	position: absolute;
	left: 47.32%;
}

.container2 {
    position: relative;
    width: 400px;
    height: 620px;
    display: inline-block;
    right: 0%;
}

.image2 {
    display: block;
    width: 400px;
    height: 620px;
    right: 0%;
}


.text2 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
}
.overlayFade2{
    height: 100%;
    width:100%;
    top:0;
    left:0;
    background-color: #036dd0;
}
.overlay2 {
    position: absolute;
    opacity: 0;
    transition:all .6s ease;
    background-color: #036dd0;
}
.container2:hover .overlay2,.container2:hover .overlayFade2 {
    opacity: 1;
}


.overlayTop2{
    width: 100%;
    height: 0;
    top:0;
    left:0;
    background-color: #036dd0;

}
.overlayBottom2{
    width: 100%;
    height: 0;
    bottom:0;
    left:0;
    background-color: #036dd0;
}
.container2:hover .overlayTop2 ,.container2:hover .overlayBottom2 {
    height: 100%;
}


#VISSION{
	position: absolute;
	top: 88%;
	left: 34.7%;
	color: white;
	font-family: sans-serif;
	font-weight: 600;
	opacity: 1;
}


.container2:hover #VISSION{
	display: none;
}

#mission-icon{
	width: 45px;
	height: 45px;
	position: absolute;
	top:86.5%;
	left: 33.7%;
}

#vission-icon{
	width: 40px;
	height: 40px;
	position: absolute;
	top:86.6%;
	left: 22.7%;
	display: block;
}

.container2:hover #vission-icon{
	display: none;
}

.overlay2 h2{
	opacity: 1;
    color: white;
    font-size: 30px;
    font-weight: 500;
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    top: 16.5%;
    left: 29.5%;

}


.overlay2 p{
	color: white;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	position: absolute;
    top: 34%;
    left: 1%;
    line-height: 35px;
}

.overlay2 img{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 25%;
	left: 43%;
}


#success-factors{
	color: white;
	font-size: 42px;
	font-weight: 600;
	font-family: "Trirong", serif;
	position: absolute;
	top: 224%;
	left: 4.5%; 

}

#success-paragraph{
	color: white;
	font-size: 17px;
	position: absolute;
	top: 236%;
	left: 4.5%;
	text-align: left;
	line-height: 35px;
}


.success-list {
	position: absolute;
	top: 259%;
	left: 6.5%;
	text-align: left;
	line-height: 45px;
	list-style: none;
}

.success-list li{
	color: white;
	font-size: 20px;
}

#durability{
	width: 35px;
	height: 35px;
	position: absolute;
	top: 259.5%;
	left: 4%;
}

#felx{
	width: 30px;
	height: 30px;
	position: absolute;
	top: 266.2%;
	left: 4%;
}

#sus{
	width: 30px;
	height: 30px;
	position: absolute;
	top: 272%;
	left: 4%;

}

.abbWork-button{
	position: absolute;
	top: 284%;
	left: 4%;
	width: 230px;
	height: 55px;
	border-radius: 2px;
	background-color: white;
	font-size: 20px;
	font-weight: 600;
	font-family: sans-serif;
	color: black;
	border: none;
	cursor: pointer;
}

.abbWork-button:hover{
	color: white;
	background-color: #3170ab;

}







.glopal-presence{
	width: 100%;
	height: 790px;
	background-color: white;
}

.glopal-presence img{
	width: 100%;
	height: 100%;
	opacity: 0.07;
}

.glopal-presence-desc h1{
	position: absolute;
	top: 320%;
	left: 28%;
	font-family: "Audiowide", sans-serif;
    font-size: 70px;
    text-shadow: 3px 3px 3px #3170ab;
    color: #1e3d5a;
}

.glopal-presence-desc p {
	position: absolute;
	top: 340%;
	left: 11.5%;
	font-size: 22px;
	line-height: 85px;
	font-weight: 600;
	font-family: sans-serif;
	color: black;
	text-align: center;
}
















