.section4{
	width: 100%;
	height: 100%;
}


.section4 h1{
	text-align: center;
	margin-top: 9%;
	font-family: "Audiowide", sans-serif;
    font-size: 80px;
    text-shadow: 3px 3px 3px #3170ab;
    color: #081467;
}

.section4 h2{
	width: 95%;
	margin-left: 2.5%;
	text-align: center;
	margin-top: 3%;
	font-size: 23px;
	line-height: 80px;
}