.section5{
	width: 100%;
	height: 100%;
}

.section5-top{
	width: 90%;
    margin-top: 7%;
    margin-left: 5%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	gap: 30px;
}

.section5-top-card{
	width: 100%;
	height: 100%;
}

.section5-top-card img{
	width: 100%;
}

.section5-top-card h1{
	font-size: 20px;
	font-weight: 600;
	font-family: sans-serif;
	text-align: center;
	width: 95%;
	margin-top: 3%;
	margin-left: 2.5%;
	line-height: 35px;
}

.section5-end{
	width: 100%;
    margin-top: 5%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	gap: 30px;
}

.section5-end-card{
	width: 100%;
	height: 100%;
}

.section5-end-card img{
	width: 100%;
}

.section5 h1{
	position: relative;
	font-size: 20px;
	font-weight: 600;
	font-family: sans-serif;
	margin-top: 0.5%;
	margin-left: 1%;
	line-height: 30px;
}