.section3{
	margin-top: 6%;
	width: 100%;
	height: 500px;
	background-color: #081467;
}

.section3-card-cont{
	width: 100%;
    margin-top: 7%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	gap: 30px;
}

.section3-card{
	width: 100%;
	height: 500px;
}

#section3-left h1{
	color: white;
	font-family: serif;
	font-size: 50px;
	margin-top: 5%;
	margin-left: 5%;
}

#section3-left p{
	font-size: 20px;
	color: white;
	margin-top: 1%;
	margin-left: 5%;
	line-height: 35px;
}

#section3-left ul{
	list-style: none;
	line-height: 40px;
}

#section3-left ul li{
	color: white;
	margin-top: 5%;
	margin-left: 11%;
	font-size: 21px;
}

#section3-left ul li img{
	position: relative;
	width: 40px;
	margin-top: 0%;
	margin-left: -4%;
}

#section3-right{
	display:flex;
}

#section3-right .container {
	width: 50%;
	height: 100%;
}

#section3-right .container img{
	width: 100%;
	height: 100%;
}

.overlay{
	position: absolute;
	width: 24.4%;
	height: 0%;
	background-color: #fc9206;
	transition: .5s ease;
}


#section3-right .container:hover .overlay{
	height: 500px;
}

.text{
	opacity: 0%;
	transition: 0.5s ;
}
.overlay h1{

	text-align: center;
	margin-top: 25%;
	color: white;
}

.overlay p{
	text-align: center;
	margin-top: 5%;
	color: white;
	line-height: 30px;
}

#section3-right .container:hover .overlay .text{
	opacity: 1;
}
