@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
.absection{
	width: 100%;
	background-color: white;
	min-height: 112vh;
}



.aboutimg1{
	width: 520px;
	height: 450px;
	position: absolute;
	top: 115%;
	left: 17%;
}
.aboutimg2{
	width: 260px;
	height: 230px;
	position: absolute;
	top: 125%;
	left: 6%;
}

.aboutimg2 img{
	width: 260px;
	height: 230px;
	position: absolute;
	top: 150%;
	left: 6%;

}


.aboutimg1 h1{
	width: 100%;
	position: absolute;
	top: 1%;
	left: 96%;
	font-family: arial;
	font-size: 14px;
	font-weight: 500;
	word-spacing: 3px;
	color: grey;
}
.aboutimg1 h2{
	width: 100%;
	position: absolute;
	font-family: sans-serif;
	top: 9%;
	left: 96%;

}

.aboutimg1 h3{
	width: 100%;
	position: absolute;
	font-family: sans-serif;
	top: 22%;
	left: 96.5%;
	font-size: 18px;
	font-weight: normal;
	color: #77c3ec;
}
.aboutimg1 p{
	width: 100%;
	position: absolute;
	font-family: sans-serif;
	top: 42%;
	left: 96.5%;
	font-size: 15.5px;
	line-height: 1.6;


}

.abline1{
	border: 2.2px solid #1e3d5a;
    width: 45px;
    position: absolute;
    top: 34%;
    left: 96.7%;
}
.abline2{
	border: 2.2px dashed #1e3d5a;
    width: 15px;
    position: absolute;
    top: 34%;
    left: 105.8%;
}


.lightningIcon img{
	position: absolute;
	top: 0.5%;
	left: 119.5%;
	width: 12px;
	height: 18px;
}
.smallimgs{
	width: 100%;
}

.smimg1 img{
	width: 90px;
	height: 90px;
	position: absolute;
	top: 181%;
	left: 51%;
}

.smimg1 h4{
	position: absolute;
	top: 195%;
	left: 49.9%;
	color: black;
	font-size: 15px;
	font-family: sans-serif;
	text-align: center;
	line-height: 1.4;
}

.abvl1{
   border-left: 1.5px dashed #85898c;
   height: 140px;
   position: absolute;
   top: 182%;
   left: 61%;
}
.smimg2 img{
	width: 90px;
	height: 90px;
	position: absolute;
	top: 181%;
	left: 67%;
}
.smimg2 h4{
	position: absolute;
	top: 195%;
	left: 63.5%;
	color: black;
	font-size: 15px;
	font-family: sans-serif;
	text-align: center;
	line-height: 1.4;
}


.abvl2{
   border-left: 1.5px dashed #85898c;
   height: 140px;
   position: absolute;
   top: 182%;
   left: 79%;
}

.smimg3 img{
	width: 90px;
	height: 90px;
	position: absolute;
	top: 181%;
	left: 85%;
}
.smimg3 h4{
	position: absolute;
	top: 195%;
	left: 80%;
	color: black;
	font-size: 15px;
	font-family: sans-serif;
	text-align: center;
	line-height: 1.4;
}

 