@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.sbtabs {

    width: 50%;
    height: 1380px;
    position: relative;
    left: 15%;
    


}

.sbbuttons {

    
       position: absolute;
       top: 18%;
       left:27%;
       width: 100%;

}

.sbbuttons button {
    padding: 19px 50px;
    text-transform: uppercase;
    border-radius: 0px;
    background: none;
    border: 1px;
    font-size: 28px;
    font-weight: 400;
    font-family: sans-serif;
    color: #1e3d5a;
    cursor: pointer;
    transition: all 200ms;

}
.sbboreders-line1{
    background-color: #3170ab;
    width: 150px;
    height: 3px;
    border-radius: 60px;
    position: absolute;
    top: 12.5%;
    left: 31%;
    opacity: 0.8;
}
.sbboreder-line2{
    background-color: #3170ab;
    width: 150px;
    height: 3px;
    border-radius: 60px;
    position: absolute;
    top: 12.5%;
    left: 68%;
    opacity: 0.8;
}


.sbcontent {
    position: relative;
}

.sbcontent .inner {
    padding: 25px;
    position: absolute;
    top: 8%;
    left: 5%;
    background-color: #fbfbfb;
    width: 90%;
    opacity: 0;
    transform: rotateX(-70deg);
    transform-origin: 0%;
    transition: all 400ms;
}

.sbcontent .inner.active {
    position: relative;
    opacity: 1;
    z-index: 1;
    transform: rotateX(0deg);
}

.sbcontent .inner h1 {
    font-size: 35px;
    padding-bottom: 15px;
}

.sbcontent .inner p {
    letter-spacing: 0.5px;
    line-height: 23px;
    color: #434343;
}


.SBheader{
    font-size: 20px;
    font-weight: 900;
    font-family: sans-serif;
    color: #1e3d5a;
    position: relative;
    top: 9%;
    left: 88%;
    transform: translate(-50%, -50%);
}

.SBline{
    border: 2.5px solid #fddb00;
    width: 250px;
    position: absolute;
    top: 12.5%;
    left: 45%;
}




/* THE MAINCONTAINER HOLDS EVERYTHING */
.maincontainer0{
  position: absolute;
  width: 300px;
  height: 100px;
  color: #1e3d5a;
  top: 450%;
  left: 7%;
  transform: translate(-50%, -50%);

}

.maincontainer0 ul{
    color: #3b3b3b;
    font-size: 19px;
    font-weight: 600;
    list-style: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 190%;
    left: 23%;

}
.maincontainer0 ul li::before {
  list-style: none;
  content: "\2022";
  color: #3170ab;
  font-weight: 800;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}


.maincontainer0 a{
  position: absolute;
  top: 300%;
  left: 1%;
    text-decoration: none;
    color: #1e3d5a;
    font-size: 22px;
    font-weight: 800;


}


.maincontainer0 a:hover{
    color: #fddb00;
}
.maincontainer0 h1{
  line-height: 48px;
  font-weight:800;
  font-size: 41px;
  font-family: sans-serif;
}




.maincontainer1{
  position: absolute;
  width: 370px;
  height: 400px;
  background: none;
  top: 1380%;
  left: 10%;
  transform: translate(-50%, -50%);

}

.maincontainer2{
  position: absolute;
  width: 370px;
  height: 400px;
  background: none;
  top: 450%;
  left: 72%;
  transform: translate(-50%, -50%);

}
.maincontainer3{
  position: absolute;
  width: 370px;
  height: 400px;
  background: none;
  top: 450%;
  left: 134.5%;
  transform: translate(-50%, -50%);

}

.maincontainer4{
  position: absolute;
  width: 370px;
  height: 400px;
  background: none;
  top: 1380%;
  left: 72%;
  transform: translate(-50%, -50%);

}

.maincontainer5{
  position: absolute;
  width: 370px;
  height: 400px;
  background: none;
  top: 1380%;
  left: 134.5%;
  transform: translate(-50%, -50%);

}


/* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard{
  position: relative;
  top: 30%;
  left: 0;
  width: 370px;
  height: 400px;
  border-radius: 20px;
  transform-style: preserve-3d;
  transition: all 0.9s ease;

}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.thecard:hover{
  transform: rotateY(180deg);
  transition: all 0.9s ease;
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
 .thefront{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  backface-visibility: hidden;
  overflow: hidden;
  background: white;    
  color: #000;
  box-shadow: 5px 10px 5px grey ; 
  border-top: 8px solid #dfe4ec;  
}
.frontimg1{
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.frontimg2{
    position: absolute;
    top: 22%;
    left: 22%;
    transform: translate(-50%, -50%);
}
.frontimg3{
    position: absolute;
    top: 23%;
    left: 30.5%;
    transform: translate(-50%, -50%);
}
.frontimg4{
    position: absolute;
    top: 25%;
    left: 24%;
    transform: translate(-50%, -50%);
}
.frontimg5{
    position: absolute;
    top: 25%;
    left: 24%;
    transform: translate(-50%, -50%);
}



/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fddb00;
  color: red;
  text-align: center;
  transform: rotateY(180deg);
}


/*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
.thefront h1{
  font-family: 'zilla slab', sans-serif;
  padding: 15px;
  font-weight: 100;
  color: #1e3d5a;
  position: absolute;
  top: 48%;
  left:5%;
}
.thefront h2{
  font-family: sans-serif;
  font-size: 150px;
  color: black;
  -webkit-text-fill-color: white; 
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #ebebea;
  position: absolute;
  top: 69%;
  left: 61.5%;

}

.theback h1{
  font-family: 'zilla slab', sans-serif;
  text-align: left;
  font-weight: 500;
  color: black;
  position: absolute;
  top: 17%;
  left:10%;
}

.theback p{
  font-family: 'zilla slab', sans-serif;
  text-align: left;
  font-weight: 200;
  position: absolute;
  top: 44%;
  left:10%;
}


.Sline{
    border: 2.5px solid black;
    width: 100px;
    position: absolute;
    top: 38%;
    left:11%;
}

.circle1{
    position: absolute;
    transform: translate(-50%, -50%);
    top:10%;
    left:28%;
}

.circle2{
    position: absolute;
    transform: translate(-50%, -50%);
    top:40%;
    left:67%;
}

.circle3{
    position: absolute;
    transform: translate(-50%, -50%);
    top:60%;
    left:27%;
}

.circle4{
    position: absolute;
    transform: translate(-50%, -50%);
    top:90%;
    left:67%;
}

.Bbutton1{
    background-color: white;
    width: 150px;
    height: 50px;
    border: none;
    position: absolute;
    top: 75%;
    left: 10%;
    color: black;
    font-weight: 500;
    font-size: 18px;

}


.Bbutton1:hover{
   background-color:black;
   color: white; 
}






.thefront p{
  font-family: 'zilla slab', sans-serif;
  color: black;
  font-weight: normal;
  font-size: 15px;
  text-align: left;
  position: absolute;
    top: 66%;
    left:11%;
}


@media screen and (max-width:412px){

    body{
        width: 100%;
    }

    .sbbuttons{
       position: absolute;
       top: 300%;
       left:15%;
       width: 100px;

    }
    .sbtabs {

    width:412px;
    margin: 50px auto;
    height: 1300px;
    left: 70%;

}
.sbbuttons button {
    padding: 19px 55px;
    text-transform: uppercase;
    border-radius: 0px;
    background: #e8ebf1;
    border: 1px;
    font-size: 20px;
    font-weight: 800;
    color: #1e3d5a;
    transition: all 200ms;
}
.SBheader{
       position: absolute;
       top: 285%;
       left:65%;
       width: 500px;
       font-size: 21px;
       font-weight: 900;
}
.SBline{
       position: absolute;
       top: 291%;
       left:24%;

}
.sbcontent .inner {
    padding: 25px;
    position: absolute;
    top: 38%;
    left: 5%;
    background-color: #e8ebf1;
    width: 90%;
    opacity: 0;
    transform: rotateX(-70deg);
    transform-origin: 0%;
    transition: all 400ms;
}

.thecard{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.maincontainer0{
    position:absolute;
    width: 100%;
    height: 100px;
       top: 10%;
       left:65%;

}
.maincontainer1{
    position:absolute;
    width: 100%;
    height: 430px;
       top: 950%;
       left:50%;

}
.maincontainer2{
    position:absolute;
    width: 300px;
    height: 100px;
       top: 60%;
       left:50%;

}
.maincontainer3{
    position:absolute;
    width: 300px;
    height: 100px;
       top: 60%;
       left:50%;

}
.maincontainer4{
    position:absolute;
      width: 300px;
  height: 100px;
       top: 60%;
       left:50%;

}
.maincontainer5{
      width: 300px;
  height: 100px;
    position:absolute;
       top: 60%;
       left:50%;

}



} 



