.Hprojects-cont{
	width: 100%;
	height: 2470px;
	background-color: white;
}
.Hmore-info{
	width: 100%;
	height: 240px;
	background-color: #1e3d5a;
}
.Hmore-info img{
	width: 160px;
	height: 175px;
	position:relative;
	top: 15%;
	left: 0%;
	opacity: 10%;
}
.Hmore-info h2{
	position: absolute;
	top: 512%;
	left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 800;
    color: white;
    line-height: 50px;
}

.hcontact1 form{
	transition: all 4s ease-in-out;
	margin-top: 50px;
}

.Hform-control1a{
	position: absolute;
	top: 515%;
	left: 37%;
	width: 260px;
	height: 55px;
	background: transparent;
	border:2.1px solid rgba(128,128,128, .4);
	color: white;
	font-size: 17px;
	
}
  input[type=text], select{
 
  padding: 12px;
}

.Hform-control1b{
	position: absolute;
	top: 515%;
	left: 56%;
	width: 310px;
	height: 55px;
	background: transparent;
	border:2.1px solid rgba(128,128,128, .4);
	color: white;
	font-size: 17px;
}
  input[type=email], select{
 
  padding: 12px;
}


 
.hcontact1 input[type=submit]{
	background:#fddb00;
	border-color:#fddb00;
	font-weight: 500;
	color: white;
	font-size: 20px;
	width: 250px;
	height: 55px;
	position: absolute;
	top: 515%;
	left: 78%
}



.projects-sectionsCont{
	height: 100%;
	width: 60%;
	
}

.project-header h3{
	position: absolute;
	top: 542.5%;
	left: 38%;
	color: #3170ab;
	font-weight: 600;
	font-size: 30px;

}
.project-header img{
	width: 16px;
	height: 25px;
	position: absolute;
	top: 544%;
	left: 61.5%;
}




.prosec1 img {
	position: absolute;
	top: 566.5%;
	left: 10%;
	width: 400px;
	height: 320px;
	border-radius: 5px;
}

.project-circle1{

	width: 140px;
	height: 140px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	top: 579%;
	left: 32%;
	box-shadow: 1px 4px 9px #e8ebf1;
}


.proicon{

	

	position: absolute;
	top: 584%;
	left: 34.5%;

}

.proicon img{
	width: 80px;
	height: 80px;

}

.project-desc1{
	width: 660px;
	height: 400px;
	position: absolute;
	top: 567%;
	left: 47%;
	line-height: 48px;
	align-items: left;
}

.project-desc1 h1{
	font-size: 30px;
	font-weight: 500;
	color: black;

}
.project-desc1 h2{
	font-size: 30px;
	font-weight: 500;
	color: #cacbcc;
	
}

.prosec-line1{
    border: 2.2px solid #1e3d5a;
    width: 45px;
    position: absolute;
    top: 30.5%;
    left: 0.5%;

}
.prosec-line2{
	border: 2.2px dashed #1e3d5a;
    width: 15px;
    position: absolute;
    top: 30.5%;
    left: 7.9%;
}
.project-desc1 p{
	line-height: 30px;
	position: absolute;
	top: 37%;	
}
.project-desc1 a {
	position: absolute;
	top: 68%;
	text-decoration: none;
	color: #3170ab;
}
.prosec1 a:hover{
	color: #fddb00;
}

.prosec2{
	position: absolute;
	top: 630%;
	right: 7%;
	width: 400px;
	height: 320px;
}

.prosec2 img{
	width: 400px;
	height: 320px;
	border-radius: 5px;
}

.project-circle2{
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	top: 28%;
	right: 85%;
	box-shadow: -10px 4px 9px #e8ebf1;
}
.proicon2{
	position: absolute;
	top: 39%;
	right: 92%;

}
.proicon2 img{
	width: 80px;
	height: 80px;

}
.project-desc2{
	width: 660px;
	height: 400px;
	position: absolute;
	top: 1%;
	right: 140%;
	line-height: 48px;
	align-items: left;
}

.project-desc2 h1{
	font-size: 30px;
	font-weight: 500;
	color: black;

}
.project-desc2 h2{
	font-size: 30px;
	font-weight: 500;
	color: #cacbcc;
	
}

.prosec2-line1{
    border: 2.2px solid #1e3d5a;
    width: 45px;
    position: absolute;
    top: 30.5%;
    left: 0.5%;

}
.prosec2-line2{
	border: 2.2px dashed #1e3d5a;
    width: 15px;
    position: absolute;
    top: 30.5%;
    left: 7.9%;
}
.project-desc2 p{
	line-height: 30px;
	position: absolute;
	top: 37%;	
}
.project-desc2 a {
	position: absolute;
	top: 69%;
	text-decoration: none;
	color: #3170ab;
}
.prosec2 a:hover{
	color: #fddb00;
}

.prosec3{
	position: absolute;
	top: 693.5%;
	left: 10%;
	width: 400px;
	height: 320px;
}

.prosec3 img{
	width: 400px;
	height: 320px;
	border-radius: 5px;
}

.project-circle3{
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	top: 28%;
	left: 85%;
	box-shadow: 10px 4px 9px #e8ebf1;
}
.proicon3{
	position: absolute;
	top: 39%;
	left: 93.5%;

}
.proicon3 img{
	width: 80px;
	height: 80px;

}
.project-desc3{
	width: 660px;
	height: 400px;
	position: absolute;
	top: 1%;
	left: 140%;
	line-height: 48px;
	align-items: left;
}

.project-desc3 h1{
	font-size: 30px;
	font-weight: 500;
	color: black;

}
.project-desc3 h2{
	font-size: 30px;
	font-weight: 500;
	color: #cacbcc;
	
}

.prosec3-line1{
    border: 2.2px solid #1e3d5a;
    width: 45px;
    position: absolute;
    top: 30.5%;
    left: 0.5%;

}
.prosec3-line2{
	border: 2.2px dashed #1e3d5a;
    width: 15px;
    position: absolute;
    top: 30.5%;
    left: 7.9%;
}
.project-desc3 p{
	line-height: 30px;
	position: absolute;
	top: 37%;	
}
.project-desc3 a {
	position: absolute;
	top: 65%;
	text-decoration: none;
	color: #3170ab;
}
.prosec3 a:hover{
	color: #fddb00;
}

.prosec4{
	position: absolute;
	top: 757%;
	right: 7%;
	width: 400px;
	height: 320px;
}

.prosec4 img{
	width: 400px;
	height: 320px;
	border-radius: 5px;
}

.project-circle4{
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	top: 28%;
	right: 85%;
	box-shadow: -10px 4px 9px #e8ebf1;
}
.proicon4{
	position: absolute;
	top: 39%;
	right: 92%;

}
.proicon4 img{
	width: 80px;
	height: 80px;

}
.project-desc4{
	width: 660px;
	height: 400px;
	position: absolute;
	top: 1%;
	right: 140%;
	line-height: 48px;
	align-items: left;
}

.project-desc4 h1{
	font-size: 30px;
	font-weight: 500;
	color: black;

}
.project-desc4 h2{
	font-size: 30px;
	font-weight: 500;
	color: #cacbcc;
	
}

.prosec4-line1{
    border: 2.2px solid #1e3d5a;
    width: 45px;
    position: absolute;
    top: 30.5%;
    left: 0.5%;

}
.prosec4-line2{
	border: 2.2px dashed #1e3d5a;
    width: 15px;
    position: absolute;
    top: 30.5%;
    left: 7.9%;
}
.project-desc4 p{
	line-height: 30px;
	position: absolute;
	top: 37%;	
}
.project-desc4 a {
	position: absolute;
	top: 62%;
	text-decoration: none;
	color: #3170ab;
}
.prosec4 a:hover{
	color: #fddb00;
}

.projects-end{
	width: 60%;
	position: absolute;
	top: 814.5%;
	left: 40.5%;
}

.projects-end a{
   text-decoration: none;
   color: #3170ab;
   font-size: 30px;
   font-weight: 700;
   font-family: sans-serif;
}

.projects-end a:hover{
	color: #1e3d5a;	
}

.diamond1 img{
	
	position: absolute;
	top: 815.7%;
	right: 8.9%;
	width: 24px;
	height: 21px;
}


.diamond2 img{
	
	position: absolute;
	top: 815.7%;
	left: 8.9%;
	width: 24px;
	height: 21px;
}
.proend-line1{
	border: 1.5px solid black;
    width: 428px;
    position: absolute;
    top: 817%;
    right:10%;
}
.proend-line2{
	border: 1.5px solid black;
    width: 428px;
    position: absolute;
    top: 817%;
    left: 10%;
}