.section7{
	width: 100%;
	height: 900px;
	background-color: #081467;
}

#section7-bg{
	width:65%;
	margin-top: 10%;
	margin-left: 35%;
}

.section7-desc{
	position: absolute;
	width: 870px;
	height: 620px;
	background-color: #e8ebf2;
	margin-top: -43%;
}

.section7-desc #bulb{
	position: absolute;
	margin-top: 5%;
	width: 30%;
	opacity: 0.12;
}

.section7-desc #bulb-transition{
	position: absolute;
	margin-top: 5%;
	width: 30%;
	display: none;
}

.section7-desc h1{ 
	font-size: 40px;
	font-weight: 600;
	font-family: sans-serif;
	color: #081467;
	margin-top: 13%;
	margin-left: 32%;
}

#section7-line{
	margin-top: 2%;
	margin-left: 32%;
	width: 150px;
	border: 3px solid #081467;
}

.section7-desc ul{
	list-style: none;
	margin-top: 4%;
	margin-left: 32%;
	line-height: 50px;
}

.section7-desc ul li{
	color: #081467;
	font-weight: 600;
	font-size: 17px;
}

.section7-desc  ul li::before {
  content: "\2022";
  color: #fc9206;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.section7-desc:hover #bulb{
	display: none;
}

.section7-desc:hover #bulb-transition{
	display: block;
	opacity: 0.8;
}