.nav-blank{
	width: 100%;
	height: 100px;
}
.section1{
	width: 100%;
	height: 100%;
}
.section1-slider {
  position: relative;
  height: 550px;
  overflow: hidden;
}

.section1-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s, transform 0.5s;
  opacity: 0;
  transform: scale(1.2);
}

.section1-slide.activated {
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}

.section1-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-text {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  text-align: center;
  color: #fff;
  padding: 20px;
}

.slide-text h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 10px;
}

.slide-text p {
  font-size: 1.2rem;
  margin: 0;
}