.section8{
	width: 100%;
	height: 700px;
}

.section8 h1{
	text-align: center;
	color: #081467;
	margin-top: 7%;
}

.section8-card-cont{
	width: 95%;
	margin-top: 5%;
	margin-left: 2.5%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
	gap: 40px;
}

.section8-card{
	box-shadow: 0 0px 20px rgb(0 0 0 / 0.2);
	height: 330px;
	transition: .4s ease;
}

.section8-card img{
	width: 100%;
}

.section8-card h2{
	color: #081467;
	font-size: 19px;
	font-weight: 600;
	font-family: sans-serif;
	margin-top: 3%;
	margin-left: 2%;
}
.section8-card p {
	margin-top: 4%;
	margin-left: 4%;
	font-size: 16px;
	display: none;
	transition: .8s ease;
	line-height: 28px;
}
.section8-card:hover{
	height: 520px;
	margin-top: -5%;
}

.section8-card:hover  p {
	display: block;
}

.section8-card a {
	margin-top: 4%;
	margin-left: 4%;
	font-size: 18px;
	display: none;
	transition: .8s ease;
	color: #081467;
	text-decoration: none;
}

.section8-card:hover  a {
	display: block;
}

.section8-card a:hover{
	text-decoration: underline;
	color: #fc9206;
}