.section-1{
	width: 100%;
	height: 650px; 
}


#banner{
	width: 100%;
	height: 650px;
	position: absolute;
	top: 0%;
}


.design{
	width: 100%;

}

#section-1-mobile{
	width: 30%;
	position: absolute;
	top: 39.5%;
	left: 56%;
	-webkit-animation: moverbottom 2s infinite  alternate;
    animation: moverbottom 2s infinite  alternate;
}

#section-1-shasha{
	width: 23%;
	position: absolute;
	top: 22.5%;
	left: 58.5%;
	-webkit-animation: movertop 2s infinite  alternate;
    animation: movertop 2s infinite  alternate;
}

#section-1-shadow{
	width: 30%;
	position: absolute;
	top: 48%;
	left: 56%;
	-webkit-animation: movertop 2s infinite  alternate;
    animation: movertop 2s infinite  alternate;
}

#section-1-box-top{
	width: 5%;
	position: absolute;
	top: 38.1%;
	left: 55.5%;
	-webkit-animation: moverbottom 2s infinite  alternate;
    animation: moverbottom 2s infinite  alternate;
}

#section-1-box-bottom{
	width: 5%;
	position: absolute;
	top: 65%;
	left: 83%;
	-webkit-animation: moverbottom 2s infinite  alternate;
    animation: moverbottom 2s infinite  alternate;
}

#box-shadow-top{
	width: 5%;
	position: absolute;
	top: 45.8%;
	left: 55.5%;
	-webkit-animation: movertop 2s infinite  alternate;
    animation: movertop 2s infinite  alternate;
}

#box-shadow-bottom{
	width: 5%;
	position: absolute;
	top: 72.7%;
	left: 83%;
	-webkit-animation: movertop 2s infinite  alternate;
    animation: movertop 2s infinite  alternate;
}

#section1-header{
	color: white;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    padding-top: 15%;
    padding-left: 4%;
    font-weight: 600;
}

#bold-span{
	font-weight:800;
	font-family: 'popins', sans-serif;
}

#section1-paragraph{
	width: 640px;
	color: white;
	font-size: 19px;
	position: absolute;
	padding-top: 26%;
    padding-left: 4%;
}

.section-1-button{
	width: 175px;
	height: 50px;
	border-radius: 50px;
	border: 1px solid white;
    text-align: center;
    padding: 12.5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.section-1-button:hover{
	background: rgb(131,64,255);
    background: linear-gradient(90deg, rgba(131,64,255,1) 0%, rgba(87,0,255,1) 100%); 
    border: none;
}

.section-1 a{
	position: absolute;
	padding-top: 35%;
    padding-left: 4%;
    text-decoration: none;
}

@-webkit-keyframes movertop {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes movertop {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}



@-webkit-keyframes moverbottom {
    0% { transform: translateY(0); }
    100% { transform: translateY(10px); 
    }
}
@keyframes moverbottom {
    0% { transform: translateY(0); }
    100% { transform: translateY(10px); }
}




