.section2{
	width: 100%;
	height: 800px;	
}

.section2 h1{
	text-align: center;
	font-size: 25px;
	width: 60%;
	margin-top: 100px;
	margin-left: 18%;
	font-family: 'Raleway', sans-serif;
	color: #3e5d89;
}

.section2-container {
  margin-top: 9%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section2-container-box{
  width: 370px;
  height: 440px;
  margin: 20px;
  background-color: white;
  box-shadow: 0 0px 20px rgb(0 0 0 / 0.2);
}

.section2-container-box h1{
	font-size: 25px;
	text-align: center;
	margin-top: 15%;
	color: black;
}

.section2-container-box p{
	text-align: center;
	margin-top:5%; 
	font-size: 16px;
	line-height: 45px;
	color: #525657;

}

.section2-container-box:hover{
	background: rgb(64,47,117);
    background: linear-gradient(180deg, rgba(64,47,117,1) 0%, rgba(96,49,151,1) 100%);	
    box-shadow: none;
}

.section2-container-box:hover  h1{
	color: white;
}
.section2-container-box:hover  p{
	color: white;
}

#section2-container-box2{
	margin-top: 0%;
	background: rgb(64,47,117);
    background: linear-gradient(180deg, rgba(64,47,117,1) 0%, rgba(96,49,151,1) 100%);	
    box-shadow: none;

}

#section2-container-box2 h1{
	color: white
}

#section2-container-box2 p{
	color: white
}